#cuerpo{
    padding-left: 50px;
}
h1{
    margin-left: -50px;
}
#ses{
    text-align: center;
    width: 150px;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px ;
    background-color: #eef6b0;
    text-decoration: none;
    color:black;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.3);
}
#ses:hover{
    background-color: #bdc48c;
    cursor: pointer;
}
#ses:active{
        margin-top: 3px;
        margin-left: 3px;
        box-shadow: 0 0 0 0;
}
li > a {
    font-size: 17px;
    text-decoration: none;
    color:black;
    
}
li{
margin-bottom: 25px;
}
ul{

    list-style:none;
}
